<!DOCTYPE html>
<html lang="en">
<!-- Basic -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Site Metas -->
    <% include ./meta %>



    <!-- Site Icons -->
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="/images/apple-touch-icon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- Site CSS -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="/css/responsive.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/custom.css">

    <!--[if lt IE 9]>
      <script src="/https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="/https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <header class="main-header">
        <!-- Start Navigation -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-default bootsnav">
            <div class="container">
                <!-- Start Header Navigation -->
                <div class="navbar-header">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-menu"
                        aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand" href="/">
                        <img class="d-inline" style="width: 140px; height: 70px;" src="/images/shopping/logo.jpeg">
                        <h3 class="d-inline" style="color: blue;">GLISTER ENTERPRISES</h3>
                    </a>
                </div>
                <!-- End Header Navigation -->

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="navbar-menu">
                    <ul class="nav navbar-nav ml-auto" data-in="fadeInDown" data-out="fadeOutUp">
                        <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                        <li class="nav-item active"><a class="nav-link" href="/about">About Us</a></li>
                        <li class="nav-item"><a class="nav-link" href="/contact">Contact Us</a></li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
        </nav>
        <!-- End Navigation -->
    </header>
    <main>
        <div class="container">
            <div style="margin-top: 20px;">
                <h2 class="text-center">Introduction</h2>
                <b>
                    Synonymous with excellence, variety and creativity, GLISTER ENTERPRISES offers the best quality of
                    non-woven bags and non-woven shopping bags for a wide range of industry leaders. We offer the most
                    precise, custom packaging solutions for your BRAND to get the spotlight. In addition to our product
                    quality, we also take care of all necessary attributes associated with bags,
                    like durability, design, and detail to enhance the look and feel of our bags.
                </b>
            </div>
            <div class="text-center">
                <img style="max-width: 100%;" src="images/shopping/intoduction.jpg">
            </div>
            <div style="margin-bottom: 20px;">
                <b>We are committed towards setting high quality
                    benchmarks for our peers. With over 3 years of experience in the industry, GLISTER presents a
                    wide-range of bags made with the latest technology that produce precise and
                    qualitative production within the shortest possible time.</b>
                <div style="margin-top: 20px;">
                    <b>
                        We take immense pride in our strong customer base, and satisfied clientele who appreciate our
                        non-woven products and our unbeatable service. With 3 years of experience in the industry, we
                        are constantly evaluating our services and valuing our customers’ feedback to innovate and get
                        better.
                        If you’d like to try our products or reach out for a feedback you can drop us an email or get in
                        touch with us on call..
                    </b>
                </div>
            </div>
        </div>
    </main>
    <% include ./footer %>
    <!-- ALL JS FILES -->
    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <!-- ALL PLUGINS -->
    <script src="/js/jquery.superslides.min.js"></script>
    <script src="/js/bootstrap-select.js"></script>
    <script src="/js/inewsticker.js"></script>
    <script src="/js/bootsnav.js."></script>
    <script src="/js/images-loded.min.js"></script>
    <script src="/js/isotope.min.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/baguetteBox.min.js"></script>
    <script src="/js/form-validator.min.js"></script>
    <script src="/js/contact-form-script.js"></script>
    <script src="/js/custom.js"></script>
</body>

</html>