<footer>
    <div class="footer-main">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <div class="footer-widget">
                        <h4>OUR CATEGORY</h4>
                        <p>
                            Non Woven Shopping Bags<br>
                            Non Woven Rice Bags<br>
                            Non Woven Seed Bags<br>
                            Non Woven Promotional Bags<br>
                            Non Woven Conference Bags<br>
                            Non Woven Jute Bags<br>
                            Non Woven Cotton Bags<br>
                        </p>
                        <ul>
                            <li><a href="https://www.facebook.com/Glister-enterprises-111680643600390/"><i
                                        class="fab fa-facebook" aria-hidden="true"></i></a></li>
                            <!-- <li><a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fab fa-linkedin" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fab fa-google-plus" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fab fa-pinterest-p" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fab fa-whatsapp" aria-hidden="true"></i></a></li> -->
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <div class="footer-link">
                        <h4>Information</h4>
                        <ul>
                            <li><a href="/about">About Us</a></li>
                            <li><a href="/why-non-woven-bags">why-non-woven-bags</a></li>
                            <li><a href="/infrastructure">infrastructure</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <div class="footer-link-contact">
                        <h4>Contact Us</h4>
                        <ul>
                            <li>
                                <p><i class="fas fa-map-marker-alt"></i>Address: Plot no:- F 9/B,road no 18
                                    <br>nacharam indusrial area,nacharam,Hyderabad<br> 500076 </p>
                            </li>
                            <li>
                                <p><i class="fas fa-phone-square"></i>Phone: <a href="tel:9849250254">9849250254</a>
                                </p>
                                <p><i class="fas fa-phone-square"></i>Phone: <a href="tel:9182264158">9182264158</a>
                                </p>
                            </li>
                            <li>
                                <p><i class="fas fa-envelope"></i>Email: <a
                                        href="mailto:glisterenterprises@gmail.com">glisterenterprises@gmail.com</a>
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>