<!DOCTYPE html>
<html lang="en">
<!-- Basic -->

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Site Metas -->
  <% include ./meta %>


  <!-- Site Icons -->
  <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" href="/images/apple-touch-icon.png">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <!-- Site CSS -->
  <link rel="stylesheet" href="/css/style.css">
  <!-- Responsive CSS -->
  <link rel="stylesheet" href="/css/responsive.css">
  <!-- Custom CSS -->
  <link rel="stylesheet" href="/css/custom.css">

  <!--[if lt IE 9]>
      <script src="/https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="/https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
  <!-- Start Main Top -->
  <header class="main-header">
    <!-- Start Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-default bootsnav">
      <div class="container">
        <!-- Start Header Navigation -->
        <div class="navbar-header">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-menu"
            aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa fa-bars"></i>
          </button>
          <a class="navbar-brand" href="/">
            <img class="d-inline" style="width: 140px; height: 70px;" src="/images/shopping/logo.jpeg">
            <h3 class="d-inline" style="color: blue;">GLISTER ENTERPRISES</h3>
          </a>
        </div>
        <!-- End Header Navigation -->

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-menu">
          <ul class="nav navbar-nav ml-auto" data-in="fadeInDown" data-out="fadeOutUp">
            <li class="nav-item active"><a class="nav-link" href="/">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="/about">About Us</a></li>
            <li class="nav-item"><a class="nav-link" href="/contact">Contact Us</a></li>
          </ul>
        </div>
        <!-- /.navbar-collapse -->
      </div>
    </nav>
    <!-- End Navigation -->
  </header>
  <!-- End Main Top -->



  <!-- Start Slider -->
  <div id="slides-shop" class="cover-slides">
    <ul class="slides-container">
      <li class="text-right">
        <img src="/images/shopping/slideshow.jpg" alt="">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <h1 class="m-b-20"><strong>Welcome To <br> Glister Enterprises</strong></h1>
              <p class="m-b-40">Manufactures | Designers | Multicolor Offset printers <br>
                Products: Non-woven bags,Rice bags,Shopping bags</p>
            </div>
          </div>
        </div>
      </li>
      <li class="text-left">
        <img src="/images/shopping/Bag.jpg" alt="">

      </li>
      <li class="text-center">
        <img src="/images/shopping/non-woven-shopping-bag-mockup-psd-d.jpg" alt="">

      </li>

    </ul>
    <div class="slides-navigation">
      <a href="#" class="next"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
      <a href="#" class="prev"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
    </div>
  </div>
  <!-- End Slider -->

  <!-- Start Categories  -->
  <!-- <div class="categories-shop">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="shop-cat-box">
                        <img class="img-fluid" src="/images/t-shirts-img.jpg" alt="" />
                        <a class="btn hvr-hover" href="#">T-shirts</a>
                    </div>
                    <div class="shop-cat-box">
                        <img class="img-fluid" src="/images/shirt-img.jpg" alt="" />
                        <a class="btn hvr-hover" href="#">Shirt</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="shop-cat-box">
                        <img class="img-fluid" src="/images/wallet-img.jpg" alt="" />
                        <a class="btn hvr-hover" href="#">Wallet</a>
                    </div>
                    <div class="shop-cat-box">
                        <img class="img-fluid" src="/images/women-bag-img.jpg" alt="" />
                        <a class="btn hvr-hover" href="#">Bags</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="shop-cat-box">
                        <img class="img-fluid" src="/images/shoes-img.jpg" alt="" />
                        <a class="btn hvr-hover" href="#">Shoes</a>
                    </div>
                    <div class="shop-cat-box">
                        <img class="img-fluid" src="/images/women-shoes-img.jpg" alt="" />
                        <a class="btn hvr-hover" href="#">Women Shoes</a>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
  <!-- End Categories -->

  <!-- Start Products  -->
  <div class="products-box">
    <div class="container">
      <div class="row special-list">
        <div class="col-lg-3 col-md-6 special-grid best-seller">
          <div class="products-single fix">
            <div class="box-img-hover">
              <img src="/images/shopping/40003494_2-nirapara-vadi-rice.jpg" class="img-fluid" alt="Image">
            </div>
            <div class="why-text">
              <h4>Non Woven Rice Bags</h4>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 special-grid best-seller">
          <div class="products-single fix">
            <div class="box-img-hover">
              <img src="/images/shopping/Extra-Long-Grain-Rice-600x766.png" class="img-fluid" alt="Image">
            </div>
            <div class="why-text">
              <h4>Non Woven Rice Bags</h4>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 special-grid best-seller">
          <div class="products-single fix">
            <div class="box-img-hover">
              <img src="/images/shopping/hybrid-corn-seed-500x500.jpg" class="img-fluid" alt="Image">
            </div>
            <div class="why-text">
              <h4>Non Woven Seed Bags</h4>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 special-grid best-seller">
          <div class="products-single fix">
            <div class="box-img-hover">
              <img src="/images/shopping/wheat-seed-for-sowing-500x500.jpg" class="img-fluid" alt="Image">
            </div>
            <div class="why-text">
              <h4>Non Woven Seed Bags</h4>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 special-grid best-seller">
          <div class="products-single fix">
            <div class="box-img-hover">
              <img src="/images/shopping/Bag.jpg" class="img-fluid" alt="Image">
            </div>
            <div class="why-text">
              <h4>Non Woven Shopping Bags</h4>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 special-grid best-seller">
          <div class="products-single fix">
            <div class="box-img-hover">
              <img src="/images/shopping/non-woven-shopping-bag-mockup-psd-d.jpg" class="img-fluid" alt="Image">
            </div>
            <div class="why-text">
              <h4>Non Woven Shopping Bags</h4>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 special-grid best-seller">
          <div class="products-single fix">
            <div class="box-img-hover">
              <img src="/images/shopping/gift.jpg" class="img-fluid" alt="Image">
            </div>
            <div class="why-text">
              <h4>Non Woven Gift Bags</h4>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 special-grid best-seller">
          <div class="products-single fix">
            <div class="box-img-hover">
              <img src="/images/shopping/QPic.jpeg" class="img-fluid" alt="Image">
            </div>
            <div class="why-text">
              <h4>Non Woven Gift Bags</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div style="position: relative;" style="width: 100% !;">
    <div class="back-img">
      <img src="/images/shopping/back.jpg">
      <div class="black">
      </div>
      <div class="white">
        <div class="white-content">
          <div class="left">
            <h1>GLISTER ENTERPRISES</h1>
            <small>Bags that add to your life style!</small><br>
            <b>Smart bags. Great Collection. At GLISTER, we offer unbeatable quality and the best value for money on
              each
              shopping bag solution. Check out our product segment and see what you like!</b>
          </div>
          <div class="right">
            <h3>About GLISTER</h3>
            <p>
              With an experience of over 3 years, we have shaped the non-woven bag industry with International
              standards
              and Indian manufacturing.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <h2 class="text-center" style="text-decoration: red; text-decoration-line: underline; margin-top: 20px;">Blog</h2>
  <div class="container" style="display: flex; margin-top: 30px;">
    <div class="col-md-6">
      <h4 class="text-center">Why are non-woven bags called ‘green’ or ‘eco’ bags?</h4>
      <span>The single use plastic bags that were initially being used by supermarkets were
        eventually ending up in land-fills and thus polluting the environment. The non-woven bags were
        introduced in order to safeguard the environment and also provide an alternative
        to plastic that is sturdy and durable.
      </span>
    </div>
    <div class="col-md-6">
      <h4 class="text-center">Are non-woven bags environmentally friendly?</h4>
      <span>Yes. Non-woven bags are called environment friendly because they leave no ecological
        footprint. This contributes in waste
        reduction and also encourages the movement away from one-use products.
      </span>
    </div>
  </div>
  <div class="container" style="display: flex; margin-top: 40px;">
    <div class="col-md-6">
      <h4 class="text-center">What makes polypropylene so good to use as a fabric?</h4>
      <span>It is a tough material and also water repelling at the same time. It can be easily printed, even with
        some of the most complex designs by simply heat transferring them or screen printing them.
        All the things that are made from polypropylene are recyclable.
      </span>
    </div>
    <div class="col-md-6">
      <h4 class="text-center">Is polypropylene also a form of plastic?</h4>
      <span>Polypropylene is not another plastic material. It is a strong material that can
        be dyed in any colour and can be created into different shapes and sizes for bag manufacturing.
        It is recyclable and thus environment friendly.
      </span>
    </div>
  </div>

  <div class="container" style="display: flex; margin-top: 40px; margin-bottom: 10px;">
    <div class="col-md-6">
      <h4 class="text-center">Non-woven bags by Glister: An eco-friendly solution to all your retail needs</h4>
      <span>Pollution and generation of non-biodegradable waste in humongous amounts is one of the most
        pressing concerns the world is facing today
      </span>
    </div>
    <div class="col-md-6">
      <h4 class="text-center">Glister’s non-woven bags: Unique solution for all your retail needs</h4>
      <span>In our proliferating market, the need for bags is irrefutable. But as the government restricts the use
        of plastic bags, what are the options left for
        retailers? Non-woven bags are here as a better option
      </span>
    </div>
  </div>
  <!-- End Products  -->




  <!-- Start Footer  -->
  <% include ./footer %>
  <!-- End Footer  -->

  <a href="#" id="back-to-top" title="Back to top" style="display: none;">&uarr;</a>

  <!-- ALL JS FILES -->
  <script src="/js/jquery-3.2.1.min.js"></script>
  <script src="/js/popper.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <!-- ALL PLUGINS -->
  <script src="/js/jquery.superslides.min.js"></script>
  <script src="/js/bootstrap-select.js"></script>
  <script src="/js/inewsticker.js"></script>
  <script src="/js/bootsnav.js."></script>
  <script src="/js/images-loded.min.js"></script>
  <script src="/js/isotope.min.js"></script>
  <script src="/js/owl.carousel.min.js"></script>
  <script src="/js/baguetteBox.min.js"></script>
  <script src="/js/form-validator.min.js"></script>
  <script src="/js/contact-form-script.js"></script>
  <script src="/js/custom.js"></script>
</body>

</html>