<!DOCTYPE html>
<html lang="en">
<!-- Basic -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Site Metas -->
    <% include ./meta %>


    <!-- Site Icons -->
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="/images/apple-touch-icon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- Site CSS -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="/css/responsive.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/custom.css">

    <!--[if lt IE 9]>
      <script src="/https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="/https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <header class="main-header">
        <!-- Start Navigation -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-default bootsnav">
            <div class="container">
                <!-- Start Header Navigation -->
                <div class="navbar-header">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-menu"
                        aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand" href="/">
                        <img class="d-inline" style="width: 140px; height: 70px;" src="/images/shopping/logo.jpeg">
                        <h3 class="d-inline" style="color: blue;">GLISTER ENTERPRISES</h3>
                    </a>
                </div>
                <!-- End Header Navigation -->

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="navbar-menu">
                    <ul class="nav navbar-nav ml-auto" data-in="fadeInDown" data-out="fadeOutUp">
                        <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="/about">About Us</a></li>
                        <li class="nav-item"><a class="nav-link" href="/contact">Contact Us</a></li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
        </nav>
        <!-- End Navigation -->
    </header>
    <main class="infra-main">
        <div class="infra-slide">
            <img src="/images/shopping/infra2.jpeg">
            <div class="black"></div>
            <div class='a'>
                <h1 class="text-center">The Best Bags You Can Get</h1>
                <h3 class="text-center">With over 3 years of experience, GLISTER offers the best quality non-woven bags.
                    With a large
                    variety, <br>Glister's customizable and fashionable shopping bags can be used for all your packaging
                    needs.</h3>
            </div>
        </div>
        <div class="main">
            <div class="images">
                <div class="infra-div">
                    <img src="/images/shopping/infra1.jpeg">
                </div>
            </div>
            <div class="content">
                <h2 style="margin-top: 20px; text-decoration: underline; text-decoration-color: red;"
                    class="text-center">How do we make shopping bags?</h2>
                <div class="display">
                    <div class="a">
                        <h3>1) Designing</h3>
                        <b>At GLISTER, our designers bring your ideas to life and create bags that reflect your brand’s
                            identity helping you build your brand identity using exclusive designs.</b>
                    </div>
                    <div class="b">
                        <h3>2) Printing</h3>
                        <b>With the printing process, we assure that we provide the best quality print, curated as per
                            our
                            client’s brand and expectations. In addition to that, we also use state of the art
                            Roto-Gravure
                            and Flexo printing machines for the best print quality.</b>
                    </div>
                </div>
                <div class="display">
                    <div class="a">
                        <h3>3) Inspection</h3>
                        <b>After the printing process, we inspect our bags for the quality of the print. The print has
                            to be
                            in accordance with international standards as well as suit the texture required by the
                            client’s
                            brand.</b>
                    </div>
                    <div class="b">
                        <h3>4) Final Inspection and QC</h3>
                        <b>At GLISTER, each stage of manufacturing a non-woven bag includes quality checks. The fabrics
                            are
                            tested for quality and checked if they serve your purpose. The designs are then monitored to
                            match the expected output along with the brand’s identity.</b>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <% include ./footer %>
    <!-- ALL JS FILES -->
    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <!-- ALL PLUGINS -->
    <script src="/js/jquery.superslides.min.js"></script>
    <script src="/js/bootstrap-select.js"></script>
    <script src="/js/inewsticker.js"></script>
    <script src="/js/bootsnav.js."></script>
    <script src="/js/images-loded.min.js"></script>
    <script src="/js/isotope.min.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/baguetteBox.min.js"></script>
    <script src="/js/form-validator.min.js"></script>
    <script src="/js/contact-form-script.js"></script>
    <script src="/js/custom.js"></script>
</body>

</html>