<!DOCTYPE html>
<html lang="en">
<!-- Basic -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Site Metas -->
    <% include ./meta %>


    <!-- Site Icons -->
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="/images/apple-touch-icon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- Site CSS -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="/css/responsive.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/custom.css">

    <!--[if lt IE 9]>
      <script src="/https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="/https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <header class="main-header">
        <!-- Start Navigation -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-default bootsnav">
            <div class="container">
                <!-- Start Header Navigation -->
                <div class="navbar-header">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-menu"
                        aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand" href="/">
                        <img class="d-inline" style="width: 140px; height: 70px;" src="/images/shopping/logo.jpeg">
                        <h3 class="d-inline" style="color: blue;">GLISTER ENTERPRISES</h3>
                    </a>
                </div>
                <!-- End Header Navigation -->

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="navbar-menu">
                    <ul class="nav navbar-nav ml-auto" data-in="fadeInDown" data-out="fadeOutUp">
                        <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="/about">About Us</a></li>
                        <li class="nav-item"><a class="nav-link" href="/contact">Contact Us</a></li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
        </nav>
        <!-- End Navigation -->
    </header>
    <main>
        <img src="/images/shopping/why-non-woven-bag-4.jpg" style="width: 100% !important;">
        <div class="container" style="margin: 20px;">
            <h2 class="text-center">Here are some of the reasons why you should opt for non-woven bags</h2>
            <div style="display: flex;">
                <div class="why-bags-div col-md-6">
                    <h3 class="text-center why-bags-head">A bag that’s equal to a hoarding</h3>
                    <b>A designer bag printed with your company’s logo is a great advertising tool.
                        Vibrant colours make your logo and ideology pop out and thus, it is noticed by many. A unique
                        design
                        serves as a great eye-candy for people. So, handing out non-woven bags printed with your name
                        gives
                        you the leverage of grabbing new eyeballs every day. Plus, your brand receives an all new
                        identity –
                        looking
                        fashionable and being environment friendly, at the same time.</b>
                </div>
                <div class="why-bags-div col-md-6">
                    <h3 class="text-center why-bags-head">A partner that stays with you for long</h3>
                    <b>A paper or plastic bag is at the risk of breaking or tearing if heavy things are put into them.
                        However, with a non-woven bag, such problems do not occur. Also, they last for at least 5 years,
                        making them a wise choice over their plastic counterparts. A non-woven bag’s durability is one
                        of the major reasons why international brands and retail stores choose non-woven bags for
                        packaging purposes</b>
                </div>
            </div>
            <div style="display: flex;">
                <div class="why-bags-div col-md-6">
                    <h3 class="text-center why-bags-head">It saves your money – A secret revealed</h3>
                    <b>If you compare the price of non-woven bags to paper or plastic bags, the former will seem a
                        little more costly. However, if you dig in deeper, the fact that makes non-woven bags cheaper is
                        that they last longer. A non-woven bag can be used multiple times. Also, these bags can carry
                        heavy stuff compared to their alternatives. Thus, once a non-woven bag is handed out to your
                        customers, they can easily use it for a long time. This brings us to the next advantage..</b>
                </div>
                <div class="why-bags-div col-md-6">
                    <h3 class="text-center why-bags-head">Feels like air</h3>
                    <b>Durability is one reason why non-woven bags are a hit with customers and brands. But, what adds
                        to this factor is that they are lightweight too. So carrying them or storing them is not a
                        problematic task at all. Easily foldable, they take very less space and can be effortlessly
                        pulled out from the drawer whenever needed. So, they are easy to carry, easy to store and easy
                        to manage in bulk – making them a better choice than other kinds of bags.</b>
                </div>
            </div>
            <div style="display: flex;">
                <div class="why-bags-div col-md-6">
                    <h3 class="text-center why-bags-head">Talk of the town</h3>
                    <b>Fashion forward is the right word for the world of today. Non-woven bags are uber-cool and
                        trendy. Not only do they look stylish, but also provide ample space. Thus, a wise choice,
                        non-woven bags make it to the top when it comes to shopping responsibly.</b>
                </div>
                <div class="why-bags-div col-md-6">
                    <h3 class="text-center why-bags-head">Friends with the environment</h3>
                    <b>Although we have been talking about these bags being eco-friendly since the beginning, there is
                        one important aspect that is associated with them: it defines a brand’s integrity. If you are a
                        world renowned brand or a retail shop, using non-woven bags will showcase your concern for the
                        environment, and thus will help you garner more interest for your brand.</b>
                </div>
            </div>
        </div>
    </main>
    <% include ./footer %>
    <!-- ALL JS FILES -->
    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <!-- ALL PLUGINS -->
    <script src="/js/jquery.superslides.min.js"></script>
    <script src="/js/bootstrap-select.js"></script>
    <script src="/js/inewsticker.js"></script>
    <script src="/js/bootsnav.js."></script>
    <script src="/js/images-loded.min.js"></script>
    <script src="/js/isotope.min.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/baguetteBox.min.js"></script>
    <script src="/js/form-validator.min.js"></script>
    <script src="/js/contact-form-script.js"></script>
    <script src="/js/custom.js"></script>
</body>

</html>